- alias: 'Create Weekly Backup'
  initial_state: true
  trigger:
    platform: time
    at: '02:00:00'
  condition:  
    condition: time
    weekday:
      - sun
  action:
    service: hassio.snapshot_full
    data_template:
      name: Hassio ({{now().strftime('%d.%m.%y')}})