# Configure a default setup of Home Assistant (frontend, api, etc)
homeassistant:
  auth_providers:
    - type: homeassistant
  name: Home
  elevation: 51
  unit_system: metric
  time_zone: Europe/Berlin
  customize: !include customize.yaml

config:
frontend:
history:
logbook:
person:
map:
mobile_app:
discovery:
ios:
cloud:
ssdp:
sun:
system_health:
updater:

zone: !include zones.yaml

tts:
  - platform: google_translate

knx: !include knx.yaml
light: !include light.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
homekit: !include homekit.yaml
cover: !include cover.yaml
sensor: !include sensor.yaml