# Configure a default setup of Home Assistant (frontend, api, etc)
homeassistant:
  auth_providers:
    - type: homeassistant
  name: Home
  elevation: 51
  unit_system: metric
  time_zone: Europe/Berlin
  customize: !include customize.yaml

config:
frontend:
history:
logbook:
person:
map:
mobile_app:
discovery:
ios:
cloud:
ssdp:
sun:
system_health:
updater:
mqtt:
  broker: 127.0.0.1

zone: !include zones.yaml


#wake_on_lan:
#samsungtv:
#  - host: 192.168.1.40
#    name: TEST
#    turn_on_action:
#      - service: wake_on_lan.send_magic_packet
#        data:
#          mac: "7c:64:56:f8:ae:83"


#switch:
#  - platform: wake_on_lan
#    mac: "7c:64:56:f8:ae:83"

#switch:
#  - platform: template
#    switches:
#      skylight:
#        value_template: "{{ is_state('sensor.skylight', 'on') }}"
#        turn_on:
#          service: samsungtv.turn_on_action
#          data:
#            entity_id: switch.skylight_open
#        turn_off:
#          service: switch.turn_off
#          data:
#            entity_id: switch.skylight_close

#media_player:
#  - platform: samsungtv
#    host: 192.168.1.40
#    name: TEST TV
#    mac: "7c:64:56:f8:ae:83"
#    commands:
#      turn_on:
#        service: switch.turn_on
#        data:
#          entity_id: switch.wake_on_lan

tts:
  - platform: google_translate

knx: !include knx.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
homekit: !include homekit.yaml
cover: !include cover.yaml
