# Configure a default setup of Home Assistant (frontend, api, etc)
homeassistant:
  auth_providers:
    - type: homeassistant
  name: Home
  elevation: 51
  unit_system: metric
  time_zone: Europe/Berlin
  customize: !include customize.yaml

config:
frontend:
history:
logbook:
person:
map:
mobile_app:
discovery:
ios:
cloud:
ssdp:
sun:
system_health:
updater:
mqtt:
  broker: 127.0.0.1

zone: !include zones.yaml

#shelly:
#  discovery: false
#  version: true #add version sensor
#  sensors:
#    - all
#  devices:      #devices to be added
#    - id: "F4CFA2748777"
#      light_switch: true  #add this switch as a light
#      name: Big Garage Door   #set friendly name
#      sensors: #overide global (all)
#         - power
#         - device_temp
# binary_sensor:



tts:
  - platform: google_translate

knx: !include knx.yaml
light: !include light.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
homekit: !include homekit.yaml
cover: !include cover.yaml
sensor: !include sensor.yaml